body {
    background: rgb(255,132,80);
    background: radial-gradient(circle, rgba(255,132,80,1) 0%, rgba(178,164,245,1) 100%);
    height: 100vh;
}

a {
    text-decoration: none;
}

Container {
    background: none;
}

h1, h2, h3, p, a, li, ul, .navbar-brand {
    color: white;
}

#text-input {
    background: none;
    color: white;
    border-radius: 20px;
    width: 300px;
    border: 2px solid white;
    padding: 5px;
}

#search-body {
    margin-top: 350px;
    text-align: center;
}

.film-card {
    background-color: rgba(255, 255, 255, 0.3);
    margin-top: 5px;
}
.info-card {
    background-color: rgba(255, 255, 255, 0.3);
    text-align: center;
    padding: 50px;
    margin-top: 75px;
}

ul {
    list-style-type: none;
    text-align: center;
}

ul.filmList-info {
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: left;
}

ul.filmList-filter {
    margin: 0;
    margin-top: 50px;
    padding: 0;
}

li.filmList-item {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    width: 15%;
    border-left: 1px solid white;
}

li.filmList-title {
    float: left;
    display: block;
    padding: 14px 16px;
    width: 40%;
}

li.filmList-filter {
    float: right;
    display: block;
    padding: 14px 16px;
    width: 10%;
}

.list-group-item {
    background: none;
    text-align: left;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#search-results {
    overflow-y: auto;
    height: 600px;
    scrollbar-width: thin;
    
}

#film-list {
    overflow-y: scroll;
    height: 82vh;
    scrollbar-width: thin;
}